rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Only the shop account can read and write the data.
    match /{document=**} {
      allow read, write: if request.auth != null
        && request.auth.token.email == "letrecelle@gmail.com";
    }
  }
}
